* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'RobotoRegular';
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color:#7f1d1d;
    --white-color:#fee2e2;
    --pink-color:#f871715f;
    --pink2-color:#fca5a598;
    background-color: rgb(219, 219, 219);
}

nav {
    grid-area: 1/1/2/2;
    background-color:var(--main-color);
    color: var(--white-color);
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 1rem;
}

nav  > div {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    justify-items: center;
}

nav > div >div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: min(1rem,10vw);
}

.dash {
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    padding: 1rem;
    display: none;
}

.square, .checkbox > input{
    position: fixed;
    width:2rem;
    height: 2rem;
    margin: 1rem;
    cursor:pointer;
}   

.checkbox {
    position:fixed
}
.square {
    z-index:2;
}

input[type="checkbox"] {
    opacity: 0;
    z-index: 3;

    
}


input[type="checkbox"]:focus + nav {
    display: grid;
    position: fixed;
    top:50px;
    left:15px;

}


.square {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 3px;
    justify-content: space-between;
    border-radius: 5px;
}

.square > div {
    height: 5px;
    width: auto;
    background-color: var(--white-color);
    border-radius: 5px;
}

nav {
    border-radius: 5px;
}

/**/
.window {
    display:grid;
    grid-template-rows: 5rem 90vh;
    grid-template-columns: 10vw 80vw 10vw;
}

.top {
    grid-area: 1/1/2/4;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
}

.search {
    display: flex;
    align-items: center;
}

input[type="search"] {
    width: 40vw;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(206, 206, 206);
    padding:1rem;
}

.icon {
    width: 3rem;
    border-radius: 10rem;
}

.welcome {
    display:flex;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}

.buttons > button {
    background-color: var(--pink-color);
    border-radius: 1rem;
    width: 5rem;
    border:1px solid var(--white-color)
}

.content {
    grid-area:2/2/3/3;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 1rem;
    gap: 1rem;
}

.content > div {
    box-shadow: 3px 3px 10px;
    padding: 1rem;
    border-radius: 5px;
    animation-duration: 1s;
}

.content>div:hover {
    box-shadow: 3px 3px 1rem;
    outline:5px solid var(--main-color);

}

.content > div:nth-child(3n+1){
    background: linear-gradient( rgba(255, 255, 255, 0.384),rgba(0, 0, 0, 0.455)),url("https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt02dd32b665c25036/5f4defe8b553152466d1b21a/Homepage_World_1.jpg");
    background-size: cover;
    background-position: center center;
}

.content > div:nth-child(5n+2){
    background: linear-gradient( rgba(255, 255, 255, 0.384),rgba(0, 0, 0, 0.455)),url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt1d72b5b9518e767b/6348b9a2b3f39b38fccfbac4/VALORANT_2022_E5-3_PlayVALORANT_ContentStackThumbnail_1200x625_MB01_opt.jpg");
    background-size: cover;
    background-position: center center;
}


.content > div:nth-child(6n+3){
    background: linear-gradient( rgba(255, 255, 255, 0.384),rgba(0, 0, 0, 0.455)),url("https://www.riotgames.com/darkroom/800/87521fcaeca5867538ae7f46ac152740:2f8144e17957078916e41d2410c111c3/002-rg-2021-full-lockup-offwhite.jpg");
    background-size: cover;
    background-position: center center;
}

.content > div:nth-child(6n+5){
    background: linear-gradient( rgba(255, 255, 255, 0.384),rgba(0, 0, 0, 0.455)),url("https://www.mobafire.com/images/champion/skins/landscape/teemo-firecracker-762x.jpg");
    background-size: cover;
    background-position: center center;
}

.content > div:nth-child(2n+6){
    background: linear-gradient( rgba(255, 255, 255, 0.384),rgba(0, 0, 0, 0.455)),url("https://i.ytimg.com/vi/0P6jeK9BIDc/maxresdefault.jpg");
    background-size: cover;
    background-position: center center;
}


.ann {
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(100px,200px));
    gap: 15px;
    padding: 1rem;
}

.ann > div{
    box-shadow: 3px 3px 10px;
    padding: 1rem;
}